.syntaxHighlighterWrapper pre {
  margin: 0 !important;
  padding: 12px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  background: transparent !important;
  border: none !important;
}